.side_bar
  .side_header
    .side_header_box
      %p.side_header_box_user_name matsu
      %ul.side_header_box_menu
        %li.side_header_box_menu_new_group
          = link_to "#" do
            %i.fa.fa-edit
        %i.side_header_box_menu_edit
          = link_to "#" do
            %li.fas.fa-cog
    
  .side_contents
    .side_contents_groups
      .side_contents_groups_title こんにちは
      .side_contents_groups_message メッセージはありません
    .side_contents_groups
      .side_contents_groups_title こんにちは
      .side_contents_groups_message メッセージはありません